<h5 class="text-muted">Add todo</h5>
<form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="title" [value]="this.title" name="title" id="title" class="form-control form-control-sm mb-3"
        type="text" placeholder="Title">
    <textarea [(ngModel)]="desc" [value]="this.desc" name="desc" id="desc" class="form-control form-control-sm mb-3"
        type="textarea" placeholder="Description"></textarea>

    <button class="btn btn-sm btn-primary my-2 my-sm-0" type="submit">{{btnText}}</button>
    <button *ngIf="updateTodo" class="btn btn-sm btn-danger mx-2 my-sm-0" (click)="cancelUpdate()">Cancel</button>
</form>
<hr>